@tailwind base;
@tailwind components;
@tailwind utilities;

aside {
  background: #7bff0091;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid #000000;
}

/* markdown 스타일링 */
thead tr th {
  background: #cccccc;
  text-align: center;
  line-height: auto;
  border: 1px solid #000000;
}

tbody tr td:first-child {
  text-align: center;
}

tbody tr td {
  border: 1px solid #000000;
}

code {
  background: #cccccc;
  border: 1px solid #ababab;
  padding: 1px 2px;
  border-radius: 5px;
  color: #f54364 !important;
}

code::after {
  display: none;
}
code::before {
  display: none;
}
/*  */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --brand-color: #5c67f2;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --brand-color: #9fa4ff;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*  아이콘 */

[class^="hex-logo"] {
  display: inline-block;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
[class^="hex-logo"]:hover {
  transform: scale3d(1.2, 1.2, 1);
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transition: all 0.35s cubic-bezier(0, 1.27, 0.46, 1.65);
  -webkit-transition: all 0.35s cubic-bezier(0, 1.27, 0.46, 1.65);
}
[class^="hex-logo"] svg {
  width: 100%;
  height: 100%;
  display: block;
}

[class^="hex-icon"] {
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*  mode 용 icon */
[class^="hex-icon"]:hover {
  transform: scale3d(1.2, 1.2, 1);
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transition: all 0.35s cubic-bezier(0, 1.27, 0.46, 1.65);
  -webkit-transition: all 0.35s cubic-bezier(0, 1.27, 0.46, 1.65);
}
[class^="hex-icon"] svg {
  width: 100%;
  height: 100%;
  display: block;
}

.hex-icon-sun path:first-of-type {
  fill: #fff;
}
.hex-icon-sun circle {
  stroke: #757579;
  stroke-width: 2px;
  fill: none;
}
.hex-icon-sun circle:last-of-type {
  stroke-width: 2px;
  stroke-dasharray: 2, 7.4;
}
